
body {
  background-color: #f9f8fd;
  margin: 0;
}

.block {
  display: grid;
  grid-template-rows: auto;
  margin: 6rem 20rem;
  text-align: center;
  font-family: Arial;
}

.border-box {
  display: grid;
  grid-gap: 0.5em;
  margin: 0 2em;
  padding-bottom: 20%;
  text-align: center;
  grid-template-areas:
       "empty form none";
}

.border-box form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  justify-content: center;
}

.border-box form > input {
  margin: 0.5em 0;
  border-radius: 5px #F0F8FF;
}

.left {
  background-color: rgba(3, 168, 124, 0.9);
  padding-top: 100vh;
  padding-left: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

#submit {
  border: 0;
  background-color: #7dce94;
  color: black;
}

.lower-decoration {
  background-color: #7ebc99;
  padding: 0.3em 3em;
  margin: 0.2em 1em;
}

@media only screen and (max-width: 1080px) {
  .block {
    margin: 0 3rem;
  }

  .border-box {
    margin: 0;
  }
}
